* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --action-color: rgb(255 255 255);
    --background-color: rgb(252 252 252);
    --border-color: rgb(0 0 0 / 0.1);
    --button-default: rgb(94 115 189);
    --button-hover: rgb(82 100 163);
    --text-primary: rgb(0 0 0 / 0.85);
    --text-secondary: rgb(0 0 0 / 0.55);
    --text-tertiary: rgb(0 0 0 / 0.4);
    --text-inverted: rgb(255 255 255);
    --color-accent-1: rgb(128 155 255);
    --color-accent-2: rgb(227 128 255);
    --color-accent-3: rgb(255 128 155);
    --color-accent-4: rgb(255 227 128);
    --color-accent-5: rgb(164 250 219);
    --color-accent-6: rgb(144 242 255);
}

a {
    text-decoration: none;
}

html {
    font-size: 16px;
}

body {
    background: var(--background-color);
    color: var(--text-primary);
    font: 1rem 'IBM Plex Sans', sans-serif;
}

nav {
    align-items: center;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    padding-bottom: 2rem;
  }
  
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li a {
    color: var(--text-tertiary);
    border-radius: 8px;
    padding: 0.5rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-links li a:focus-visible {
    transition: none;
}

.nav-links li a:hover {
    background-color: rgb(0 0 0 / 0.1);
    border-radius: 8px;
    text-decoration: none;
}

.nav-links li.nav-active a {
    color: var(--text-primary);
}

.nav-active a {
    color: var(--text-primary);
}

.masthead {
    align-items: center;
    color: var(--text-primary);
    display: flex;
    gap: 8px;
    padding: 0.5rem 0;
    text-decoration: none;
}

.masthead svg {
    fill: var(--text-primary);
    width: 16px;
    height: 16px;
}

footer {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--border-color);
}

footer p {
    color: var(--text-secondary);
    font-size: 0.875rem;
    display: inline-block;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

hr {
    background-color: var(--border-color); 
    border: none;
    height: 1px;
}

.body-text {
    font: 1rem/150% 'IBM Plex Sans', sans-serif;
    margin-bottom: 1rem;
    text-wrap: pretty;
}

.body-link {
    border-bottom: 1px dashed var(--text-primary);
    color: var(--text-primary);
    text-decoration: none;
}

.body-link:hover {
    border-bottom: 1px solid var(--text-primary);
    text-decoration: none;
}

.colophon {
    color: var(--text-secondary);
    margin-top: 1rem;
}

.colophon-link {
    border-bottom: 1px dashed var(--text-secondary);
    color: var(--text-secondary);
    text-decoration: none;
}

.colophon-link:hover {
    border-bottom: 1px solid var(--text-secondary);
    text-decoration: none;
}

.center-that-bad-boy {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.construction {
    width: 128px;
    height: 128px;
}

.cover-image {
    border-radius: 12px;
    margin-bottom: 1rem;
    width: 100%;
}

.ratio-3-2 {
    aspect-ratio: 3 / 2;
}

.footer-legal {
    float: left;
}

.footer-link {
    float: right;
}

.footer-link a {
    border-bottom: 1px dashed var(--text-secondary);
    color: var(--text-secondary);
    text-decoration: none;
}

.footer-link a:hover {
    border-bottom: 1px solid var(--text-secondary);
    text-decoration: underline;
    text-decoration: none;
}

.image-column-single {
    margin-bottom: 1rem;
}

.image-column-single img {
    aspect-ratio: 3 / 2;
    border-radius: 12px;
    display: block;
    width: 100%;
}

.image-column-double {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

.image-column-double img {
    aspect-ratio: 4 / 3;
    border-radius: 12px;
    display: block;
    width: 100%;
}

.intro {
    align-items: center;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    font: 1.5rem/150% 'IBM Plex Sans', sans-serif;
    gap: 1rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem 0;
}

.lighten {
    color: var(--text-secondary);
}

.next-up {
    align-items: top;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    color: var(--text-secondary);
    display: grid;
    grid-template-columns: 110px 1fr;
    gap: 1rem;
    padding: 1rem;
    transition: all 0.15s linear;
}

.next-up img {
    aspect-ratio: 4 / 3;
    background-color: var(--background-color);
    border-radius: 8px;
    display: block;
    opacity: 0.8;
    transition: all 0.15s linear;
    width: 100%;
}

.next-up h3 {
    font: 600 0.875rem/150% 'IBM Plex Sans', sans-serif;
}

.next-up p {
    font: 0.875rem/150% 'IBM Plex Sans', sans-serif;
}

.next-up:hover {
    color: var(--text-primary);
}

.next-up:hover img {
    opacity: 1;
}

.portrait {
    border-radius: 8px;
    width: 64px;
}

.project-link {
    text-decoration: none;
}

.project-preview {
    aspect-ratio: 3 / 2;
    align-items: center;
    border-radius: 12px;
    color: var(--text-inverted);
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;
    width: 100%;
    transition: transform 0.3s ease;
}

.project-preview:hover {
    transform: scale(1.02);
}

.project-preview .project-image {
    border-radius: 12px;
    filter: grayscale(0%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.3s ease;
}

.project-preview:hover .project-image {
    filter: grayscale(100%);
    opacity: 0.15;
  }
  
.project-preview > *:not(.project-image) {
    position: relative;
    z-index: 1;
}

.project-preview h2 {
    opacity: 0;
    padding: 1.5rem;
    text-align: center;
    transition: opacity 0.3s ease;
}

.project-preview:hover h2 {
    opacity: 1;
}

.project-nho {
    background-color: var(--color-accent-1);
}

.project-badges {
    background-color: var(--color-accent-2);
}

.project-setup {
    background-color: var(--color-accent-3);
}

.project-scheduling {
    background-color: var(--color-accent-4);
}

.project-billing {
    background-color: var(--color-accent-5);
}

.project-wink {
    background-color: var(--color-accent-6);
}

.project-scheduling h2, .project-billing h2 {
    color: var(--text-secondary);
}

.resume {
    display: flex;
    gap: 2rem;
}

.heading-resume {
    font: 600 1rem/150% 'IBM Plex Sans', sans-serif;
    margin-bottom: 1rem;
}

.heading-work-large {
    font: 600 1.5rem/150% 'IBM Plex Sans', sans-serif;
}

.heading-work-small {
    font: 600 1rem/150% 'IBM Plex Sans', sans-serif;
    margin-bottom: 1rem;
}

.content-block {
    margin-bottom: 2rem;
}

.column {
    flex: 1;
}

.wrapper {
    max-width: 648px;
    margin: auto;
    position: relative;
    overflow-x: hidden;
    padding: 1.5rem;
}

@media (max-width: 648px) {
    
    nav {
        padding-bottom: 1rem;
      }
    
    .portrait {
        display: none;
    }

    .project-preview h2 {
        opacity: 1;
    }

    .project-preview {
        margin-bottom: 1rem;
    }
    
    .project-preview:hover {
        transform: scale(1);
    }
    
    .project-preview .project-image {
        filter: grayscale(100%);
        opacity: 0.15;
    }

    .resume {
        flex-direction: column;
        gap: 0;
    }

    .wrapper {
        padding: 1rem;
    }

  }

@media (max-width: 400px) {

    .next-up {
        grid-template-columns: 1fr;
    }

    .next-up img {
        width: 100%;
    }

}

@media (max-width: 350px) {

    nav a span {
        display: none;
    }

}

@media (prefers-color-scheme: dark) {
    
    :root {
        --action-color: rgb(255 255 255);
        --background-color: rgb(41 41 41);
        --border-color: rgb(255 255 255 / 0.1);
        --selection-color: rgb(255 255 255 / 0.1);
        --text-primary: rgb(255 255 255 / 0.8);
        --text-secondary: rgb(255 255 255 / 0.55);
        --text-tertiary: rgb(255 255 255 / 0.4);
        --text-inverted: rgb(255 255 255);
    }

    body {
        -webkit-font-smoothing: antialiased;
    }

    .cover-image {
        opacity: 0.8;
    }

    .image-column-single img {
        opacity: 0.8;
    }
    
    .image-column-double img {
        opacity: 0.8;
    }

    .nav-links li a:hover {
        background-color: rgb(255 255 255 / 0.1);
    }

    .project-preview {
        opacity: 0.8;
    }

    .project-scheduling h2 {
        color: rgb(0 0 0 / 0.55);
    }
    
    .project-billing h2 {
        color: rgb(0 0 0 / 0.55);
    }

}