* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --action-color: rgb(255 255 255);
    --background-color: rgb(252 252 252);
    --border-color: rgb(0 0 0 / 0.1);
    --button-default: rgb(94 115 189);
    --button-hover: rgb(82 100 163);
    --bounding-box: transparent;
    --link-color: rgb(0 0 0 / 0.7);
    --text-primary: rgb(0 0 0 / 0.7);
    --text-secondary: rgb(0 0 0 / 0.55);
    --highlight: rgb(255 244 128 / 0.3);
}

::selection {
    background-color: var(--highlight);
}

body {
    color: var(--text-primary);
    background: var(--background-color);
    font-family: 'IBM Plex Sans', sans-serif;
}

footer {
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 2px solid var(--border-color);
}

footer p {
    color: var(--text-secondary);
    font-size: 0.875rem;
    display: inline-block;
}

p {
    background: var(--bounding-box);
    font: 1rem/150% IBM Plex Sans, sans-serif;
    margin-bottom: 1rem;
}

p:last-of-type {
    margin-bottom: 1.5rem;
}

.body-links {
    border-bottom: 1px dashed var(--link-color);
    color: var(--link-color);
    text-decoration: none;
}

.body-links:hover {
    border-bottom: 1px solid var(--link-color);
    text-decoration: none;
}

.body-links:focus {
    border-bottom: 2px solid var(--link-color);
    outline: none;
}

.button {
    background: var(--button-default);
    color: var(--action-color);
    border-radius: 4px;
    display: block;
    font: 600 1rem/150% IBM Plex Sans, sans-serif;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    transition: all 150ms linear;
    width: 100%;
}

.button:hover {
    background: var(--button-hover);
    transition: all 150ms linear;
}

.button:active {
    transform: scale(0.99);
    transition: all 150ms ease;
}

.button:focus {
    outline: none;
    text-decoration: none;
}

.caption {
    background-color: var(--background-color);
    border-radius: 0 0 8px 8px;
    box-shadow: inset 0px 0px 0px 2px var(--border-color);
    width: 100%;
}

.cover {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding: 2rem;
    position: relative;
}

.footer-legal {
    float: left;
}

.footer-links {
    float: right;
}

.footer-links a {
    border-bottom: 1px dashed var(--link-color);
    color: var(--text-secondary);
    text-decoration: none;
}

.footer-links a:hover {
    border-bottom: 1px solid var(--link-color);
    text-decoration: underline;
    text-decoration: none;
}

.footer-links a:focus {
    border-bottom: 2px solid var(--link-color);
    outline: none;
    text-decoration: none;
}

.intro {
    background: var(--bounding-box);
    font: 1.75rem/125% IBM Plex Serif, serif;
    margin-bottom: 1rem;
}

.portrait {
    border-radius: 90px;
    box-shadow: 0 0 24px 0 rgb(94 115 189 / 0.25);
    margin: auto;
    width: 180px;
}

@keyframes rotate-spheres {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.spheres {
    animation: rotate-spheres 10s linear infinite;
    background: url('../spheres.svg') no-repeat center center / cover;
    width: 100%;
    padding-bottom: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    z-index: -1;
}

.wrapper {
    max-width: 512px;
    margin: auto;
    position: relative;
    overflow-x: hidden;
    padding: 1.5rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --action-color: rgb(255 255 255);
        --background-color: rgb(41 41 41);
        --border-color: rgb(255 255 255 / 0.1);
        --link-color: rgb(255 255 255 / 0.8);
        --selection-color: rgb(255 255 255 / 0.1);
        --text-primary: rgb(255 255 255 / 0.8);
        --text-secondary: rgb(255 255 255 / 0.55);
    }

    ::selection {
        background-color: var(--selection-color);
    }

    body {
        -webkit-font-smoothing: antialiased;
    }

    .portrait {
        box-shadow: 0 0 24px 0 rgb(255 255 255 / 0.25);
    }

}