* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --action-color: rgb(255 255 255);
    --background-color: rgb(252 252 252);
    --border-color: rgb(0 0 0 / 0.1);
    --button-default: rgb(94 115 189);
    --button-hover: rgb(82 100 163);
    --link-color: rgb(0 0 0 / 0.8);
    --text-primary: rgb(0 0 0 / 0.7);
    --text-secondary: rgb(0 0 0 / 0.55);
    --text-tertiary: rgb(0 0 0 / 0.4);
    --text-inverted: rgb(255 255 255);
}

html {
    font-size: 16px;
}

body {
    background: var(--background-color);
    color: var(--text-primary);
    font: 1rem 'IBM Plex Sans', sans-serif;
}

nav {
    align-items: center;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    padding-bottom: 2rem;
  }
  
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li a {
    color: var(--text-tertiary);
    border-radius: 8px;
    padding: 0.5rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-links li a:focus-visible {
    border-radius: 8px;
    color: var(--text-primary);
    transition: none;
}

.nav-links li a:hover {
    background-color: rgb(0 0 0 / 0.1);
    border-radius: 8px;
    text-decoration: none;
}

.nav-links li.nav-active a {
    color: var(--text-primary);
}

.nav-active a {
    color: var(--text-primary);
}

.masthead {
    align-items: center;
    color: var(--text-primary);
    display: flex;
    gap: 8px;
    text-decoration: none;
}

.masthead svg {
    fill: var(--text-primary);
    width: 16px;
    height: 16px;
}

footer {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--border-color);
}

footer p {
    color: var(--text-secondary);
    font-size: 0.875rem;
    display: inline-block;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

.body-text {
    font: 1rem/150% 'IBM Plex Sans', sans-serif;
    margin-bottom: 1rem;
}

.body-link {
    border-bottom: 1px dashed var(--link-color);
    color: var(--link-color);
    text-decoration: none;
}

.body-link:hover {
    border-bottom: 1px solid var(--link-color);
    text-decoration: none;
}

.body-link:focus {
    border-bottom: 2px solid var(--link-color);
    outline: none;
}

.button {
    background: var(--button-default);
    color: var(--action-color);
    border-radius: 4px;
    display: block;
    font: 600 1rem/150% 'IBM Plex Sans', sans-serif;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    transition: all 150ms linear;
    width: 100%;
}

.button:hover {
    background: var(--button-hover);
    transition: all 150ms linear;
}

.button:active {
    transform: scale(0.99);
    transition: all 150ms ease;
}

.button:focus {
    outline: none;
    text-decoration: none;
}

.cover-image {
    border-radius: 12px;
    margin-bottom: 2rem;
    width: 100%;
}

.footer-legal {
    float: left;
}

.footer-link {
    float: right;
}

.footer-link a {
    border-bottom: 1px dashed var(--link-color);
    color: var(--text-secondary);
    text-decoration: none;
}

.footer-link a:hover {
    border-bottom: 1px solid var(--link-color);
    text-decoration: underline;
    text-decoration: none;
}

.footer-link a:focus {
    border-bottom: 2px solid var(--link-color);
    outline: none;
    text-decoration: none;
}

.intro {
    align-items: center;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    font: 1.5rem/150% 'IBM Plex Sans', sans-serif;
    gap: 1rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem 0;
}

.portrait {
    border-radius: 8px;
    width: 64px;
}

.project-link {
    text-decoration: none;
}

.project-preview {
    aspect-ratio: 3 / 2;
    align-items: center;
    border-radius: 12px;
    color: var(--text-inverted);
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;
    width: 100%;
    transition: transform 0.3s ease;
}

.project-preview:hover {
    transform: scale(1.02);
}

.project-preview .project-image {
    border-radius: 12px;
    filter: grayscale(0%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.3s ease;
}

.project-preview:hover .project-image {
    filter: grayscale(100%);
    opacity: 0.15;
  }
  
.project-preview > *:not(.project-image) {
    position: relative;
    z-index: 1;
}

.project-preview h2 {
    opacity: 0;
    padding: 1.5rem;
    text-align: center;
    transition: opacity 0.3s ease;
}

.project-preview:hover h2 {
    opacity: 1;
}

.project-nho {
    background-color: rgb(128 155 255);
}

.project-badges {
    background-color: rgb(227 128 255);
}

.project-onboarding {
    background-color: rgb(255 128 155);
}

.project-scheduling {
    background-color: rgb(255 227 128);
}

.project-scheduling h2 {
    color: var(--text-secondary);
}

.project-billing {
    background-color: rgb(155 255 201);
}

.project-billing h2 {
    color: var(--text-secondary);
}

.project-wink {
    background-color: rgb(128 240 255);
}

.resume {
    display: flex;
    gap: 2rem;
}

.resume-heading {
    font: 600 1rem/150% 'IBM Plex Sans', sans-serif;
    margin-bottom: 1rem;
}

.resume-section {
    margin-bottom: 2rem;
}

.column {
    flex: 1;
}

.wrapper {
    max-width: 648px;
    margin: auto;
    position: relative;
    overflow-x: hidden;
    padding: 1.5rem;
}

@media (max-width: 648px) {
    
    nav {
        padding-bottom: 1rem;
      }
    
    .portrait {
        display: none;
    }

    .project-preview h2 {
        opacity: 1;
    }

    .project-preview {
        margin-bottom: 1rem;
    }
    
    .project-preview:hover {
        transform: scale(1);
    }
    
    .project-preview .project-image {
        filter: grayscale(100%);
        opacity: 0.15;
    }

    .wrapper {
        padding: 1rem;
    }

  }

@media (prefers-color-scheme: dark) {
    
    :root {
        --action-color: rgb(255 255 255);
        --background-color: rgb(41 41 41);
        --border-color: rgb(255 255 255 / 0.1);
        --link-color: rgb(255 255 255 / 0.8);
        --selection-color: rgb(255 255 255 / 0.1);
        --text-primary: rgb(255 255 255 / 0.8);
        --text-secondary: rgb(255 255 255 / 0.55);
        --text-inverted: rgb(255 255 255);
    }

    body {
        -webkit-font-smoothing: antialiased;
    }

    .project-preview {
        opacity: 0.8;
    }

    .project-scheduling h2 {
        color: rgb(0 0 0 / 0.55);
    }
    
    .project-billing h2 {
        color: rgb(0 0 0 / 0.55);
    }

}